.footer {
    color: white;
    background-color: grey;
    padding: 10px;
    padding-bottom: 20px;
    .footer__title {
        font-family: 'Shrikhand';
        font-size: 20px;
        margin-left: 10px;
    }
    .footer__list {
        list-style: none;
        margin: 0;
        padding: 0;
        .footer__list__item {
            margin-left: 15px;
            margin-top: 10px;
        }
    }
}
