.header {
    
    .header__title {
        font-family: 'Shrikhand';
        font-size: 30px;
        text-align: center;
    }
    .header__location {
        background-color: rgb(209, 203, 203);
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Roboto';
    }
    .header__bottom {
        width: auto;
        height: 300px;
        .header__bottom__image {
            object-fit: cover;
            object-position: center;
            flex: 1 1 0;
        }
    }
}