.menu {
    .menu__title {

    }
    .menu__header {
        .menu__header__title {

        }
    }
    .menu__item {
        padding: 5px;
        border-radius: 20px;
        border: 2px solid rgb(212, 207, 207);
        background-color: rgb(212, 207, 207);
        margin: 20px;
        .menu__item__infos {
            .menu__item__infos__name {
                padding: 0;
                margin: 0;
                font-weight: bold;
            }
            .menu__item__infos__plus {
                padding: 0;
                margin: 0;
            }
        }
        .menu__item_price {

        }
    }
}