.menu {
    margin-top: 300px;
    background-color: rgb(247, 238, 238);
    font-family: 'Roboto';
    border-radius: 45px 45px 0px 0px;
    padding: 20px;
    .menu__title {
        border-bottom: 2px solid $tertiary-color;
        padding-bottom: 3px;
    }
    .menu__header {
        padding-bottom: 30px;
        padding-top: 30px;
        .menu__header__title {
            font-family: 'Shrikhand';
            font-size: 25px;
        }
    }
    .menu__item {
        padding: 5px;
        border-radius: 10px;
        border: 2px solid white;
        background-color: white;
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu__item__infos {
            .menu__item__infos__name {
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-size: 18px;
            }
            .menu__item__infos__plus {
                padding: 0;
                margin: 0;
            }
        }
        .menu__item_price {
            position: relative;
            top: 40px;
        }
    }
}