@font-face {
  font-family: "Roboto";
  src: url("./Polices/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./Polices/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.button {
  padding: 10px;
  background: linear-gradient(#FF70DA, #9356DC);
  border-radius: 20px;
  width: 50px;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}

i.fas.fa-map-marker-alt, i.far.fa-heart, i.fas.fa-utensils, i.fas.fa-hands-helping {
  margin-right: 10px;
}

i.far.fa-heart {
  margin-top: 5px;
}

body {
  background-color: #d4cfcf;
}

.footer {
  color: white;
  background-color: grey;
  padding: 10px;
  padding-bottom: 20px;
}
.footer .footer__title {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-left: 10px;
}
.footer .footer__list {
  font-family: "Roboto";
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer__list .footer__list__item {
  margin-left: 15px;
  margin-top: 10px;
}

.header {
  text-align: center;
  background-color: white;
}
.header .header__title {
  font-family: "Shrikhand";
  font-size: 30px;
}
.header .header__location {
  background-color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
}
.header .header__bottom {
  width: auto;
  height: 250px;
}
.header .header__bottom .header__bottom__image {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}

.menu {
  background-color: #d4cfcf;
  font-family: "Roboto";
}
.menu .menu__title {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 3px;
}
.menu .menu__header {
  padding-bottom: 30px;
  padding-top: 30px;
}
.menu .menu__header .menu__header__title {
  font-family: "Shrikhand";
  font-size: 25px;
}
.menu .menu__item {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .menu__item .menu__item__infos .menu__item__infos__name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.menu .menu__item .menu__item__infos .menu__item__infos__plus {
  padding: 0;
  margin: 0;
}
.menu .menu__item .menu__item_price {
  display: block;
  vertical-align: middle;
}

.description {
  text-align: center;
  font-family: "Roboto";
}
.description .description__phrase1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.description .description__phrase2 {
  margin-top: 10px;
}

.restaurant-title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
}

.restaurant {
  width: auto;
  height: 250px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  padding: 10px;
  font-family: "Roboto";
  background-color: #d4cfcf;
  margin: 30px 20px;
}
.restaurant .restaurant__img {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}
.restaurant .restaurant__heading {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .restaurant__heading .restaurant__heading__infos .restaurant__heading__infos__name {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.restaurant .restaurant__heading .restaurant__heading__infos .restaurant__heading__infos__location {
  padding: 0;
  margin: 0;
}

.working {
  font-family: "Roboto";
  margin-top: 30px;
  padding: 20px;
  background-color: white;
}
.working .working__title {
  font-weight: bold;
  font-size: 20px;
}
.working .working__step {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #d4cfcf;
  background-color: #d4cfcf;
  margin: 20px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.working .working__step .working__step__number {
  padding: 5px 8px;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
}

/*# sourceMappingURL=style.css.map */
