@font-face {
  font-family: "Roboto";
  src: url("./Polices/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./Polices/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
.button {
  padding: 10px;
  background: linear-gradient(#FF70DA, #9356DC);
  border-radius: 20px;
  width: 50px;
  display: block;
  width: 200px;
  margin: 0px auto;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
}

i.fas.fa-map-marker-alt, i.far.fa-heart, i.fas.fa-utensils, i.fas.fa-hands-helping {
  margin-right: 10px;
}

i.far.fa-heart, i.fas.fa-mobile-alt, i.fas.fa-list-ul, i.fas.fa-store {
  position: relative;
  top: 7px;
}

i.fas.fa-mobile-alt, i.fas.fa-list-ul, i.fas.fa-store {
  right: 10px;
  color: grey;
}
i.fas.fa-mobile-alt:hover, i.fas.fa-list-ul:hover, i.fas.fa-store:hover {
  color: #9356DC;
}

.body-index {
  background-color: #f7eeee;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
body img.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top center;
  z-index: -1;
}

.footer {
  color: white;
  background-color: #666464;
  padding: 10px;
  padding-bottom: 20px;
}
.footer .footer__title {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-left: 10px;
}
.footer .footer__list {
  font-family: "Roboto";
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer__list .footer__list__item {
  margin-left: 15px;
  margin-top: 10px;
}

.header .header__title {
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
}
.header .header__location {
  background-color: #d1cbcb;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
}
.header .header__bottom {
  width: auto;
  height: 300px;
}
.header .header__bottom .header__bottom__image {
  object-fit: cover;
  object-position: center;
  flex: 1 1 0;
}

.menu {
  margin-top: 300px;
  background-color: #f7eeee;
  font-family: "Roboto";
  border-radius: 45px 45px 0px 0px;
  padding: 20px;
}
.menu .menu__title {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 3px;
}
.menu .menu__header {
  padding-bottom: 30px;
  padding-top: 30px;
}
.menu .menu__header .menu__header__title {
  font-family: "Shrikhand";
  font-size: 25px;
}
.menu .menu__item {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: white;
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation-name: opacity;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes opacity {
  from {
    opacity: 0;
    position: relative;
    top: 20px;
  }
  50% {
    opacity: 50;
    position: relative;
    top: 10px;
  }
  to {
    opacity: 100;
    position: relative;
    top: 0px;
  }
}
.menu .menu__item .menu__item__infos .menu__item__infos__name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.menu .menu__item .menu__item__infos .menu__item__infos__plus {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.menu .menu__item .menu__item__price {
  position: relative;
  top: 20px;
}
.menu .menu__item .menu__item__select {
  overflow: hidden;
}
.menu .menu__item:hover .menu__item__select {
  overflow: hidden;
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 400ms;
}
@keyframes slide {
  from {
    width: 0px;
  }
  50% {
    width: 20px;
    background-color: green;
  }
  to {
    width: 40px;
    background-color: green;
  }
}

.description {
  text-align: center;
  font-family: "Roboto";
}
.description .description__phrase1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.description .description__phrase2 {
  margin-top: 10px;
}

.restaurant-title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
  padding-left: 20px;
}

.restaurant {
  width: auto;
  height: 250px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  padding: 10px;
  font-family: "Roboto";
  background-color: #f7eeee;
  margin: 30px 20px;
  color: black;
  text-decoration: none;
}
.restaurant .restaurant__img {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}
.restaurant .restaurant__heading {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .restaurant__heading .restaurant__heading__infos .restaurant__heading__infos__name {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.restaurant .restaurant__heading .restaurant__heading__infos .restaurant__heading__infos__location {
  padding: 0;
  margin: 0;
}

.working {
  font-family: "Roboto";
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: white;
}
.working .working__title {
  font-weight: bold;
  font-size: 20px;
}
.working .working__step {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #f7eeee;
  background-color: #f7eeee;
  box-shadow: 5px 5px 15px grey;
  margin: 20px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.working .working__step .working__step__number {
  padding: 5px 8px;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 30px;
}
.working .working__step .working__step__text {
  padding-left: 10px;
  position: relative;
  top: 7px;
}

/*# sourceMappingURL=style.css.map */
