.button {
    padding: 10px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 20px;
    width: 50px;
    display: block;
    width: 200px;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    font-family: 'Roboto';
}