.button {
    padding: 10px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 20px;
    weight: 50px;
    margin: 20px;
    color: #fff;
    .button__explorer {
        font: 'Shr'
    }
}