.button {
    padding: 10px;
    background: linear-gradient(#FF70DA,#9356DC);
    border-radius: 20px;
    align-items: center;
    weight: 50px;
    margin: 20px;
    color: #fff;
    .button__explorer {
    
    }
}