.description {
    text-align: center;
    font-family: 'Roboto';
    .description__phrase1 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .description__phrase2 {
        margin-top: 10px;
    }
}